.contact-area {
    .contact-form {
        input, textarea {
            width: 100%;
            padding: 16px;
            margin: 15px 0;
            border: 1px solid $gray;
        }
        input[type=submit]{
            background-color: $primary-color;
            border: 0;
            text-transform: uppercase;
            color: $white;
            font-size: 20px;
            font-weight: 700;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                background-color: $black;
            }
        }
    }
    .contact-address {
        display: flex;
        margin-bottom: 20px;
        gap: 20px;
        align-items: center;

        h4 {
            font-size: 22px;
            font-weight: 600;
            text-transform: capitalize;
        }

        span {
            display: block;
            font-size: 18px;
            font-weight: 500;
        }

        i {
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border: 1px solid $primary-color;
            color: $primary-color;
            font-size: 20px;
        }
    }
}