.cta-bottom-area {
    background-color: $primary-color;
    p {
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: end;
        color: $white;
        @include max-xs{
            margin-bottom: 10px;
            margin-left: 40px;
            font-size: 30px;
        }
        @include min-sm{
            margin-bottom: 20px;
            text-align: center;
        }
        @include min-md{
            font-size: 40px;
        }
        
    }
    a{
        display: block;
        color: $white;
        font-size: 18px;
        font-weight: 500;
        margin: 8px 0;
        @include max-xs{
            margin-left: 40px;
        }
        @include min-sm{
            text-align: center;
        }
    }
}