.cta-area{
    .section-title{
        color: $white;
        h2{
            font-size: 50px;
            margin: 25px 0;
            
            span{
                font-size: 50px;
                color: $primary-color;
                text-transform: uppercase;
            }
        }
    } 
}