.our-menu {
    background-color: $gray;
    .single-menu {
        display: flex;
        gap: 20px;
        padding: 20px;
        margin-bottom: 30px;
        background-color: $white;
        border: 1px solid $gray;
        @include max-xs{
            display: inherit;
            text-align: center;
        }
        @include min-sm{
            display: inherit;
            text-align: center;
        }
        @include min-lg{
            display: inherit;
            text-align: center;
        }
        img{
            max-width: 110px;
            transition: .3s;
        }
        &:hover img{
            border-radius: 50%;
        }
        .menu-content h4 {
            margin-bottom: 16px;
            text-transform: capitalize;
            border-bottom: 1px solid $gray;
            padding: 8px 0;

            & span {
                float: right;
                color: $primary-color;
                font-style: italic;
                @include min-sm{
                    float: none;
                    margin-left: 46px;
                }
            }
        }
    }
}